body {
    margin: 0;
    overflow: hidden;
    background-color: black;
  }
  
  .milky-way {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('imgs/milkyway.jpg') center/cover fixed; /* Replace 'milky_way.jpg' with the path to your Milky Way image */
    z-index: -2;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */

  }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */

  }
  
  .starlink {
    position: absolute;
    background: white;
    width: 1px;
    height: 1px;
  }
  .star {
    position: absolute;
    background: white;
    width: 1px;
    height: 1px;
    animation: twinkle linear infinite;
  }
  
  @keyframes twinkle {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  